* {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
}

#player {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
}

.block-btns {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 40px;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

tr {
    cursor: pointer;
}

td {
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.table {
    border-collapse: collapse;
}

#graphic {
    width: 100%;
}

.graphic-container {
    height: 400px;
}

.delete-btn {
    border: none;
}

.delete-img {
    max-width: 30px;
}