* {
    margin: 0;
    padding: 0;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    min-height: 100vh;
    background: url("full_ofCzuDvd.jpg") center no-repeat;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
}

#player {
    width: 700px;
    height: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.block-btns {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 10px 40px;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

td {
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.table {
    border-collapse: collapse;
}